<h1>Editing {{ trip.destination }}</h1>
<form action="/edit-trip?tripID={{trip._id}}" method="POST" class="planning-form">
  <label style="color: #ddecfc; font-size: 20px " for="">Destination:</label>
  <input type="text" name="destination" value="{{trip.destination}}">
  <br>
  <label style="color: #ddecfc; font-size: 20px " for="">City:</label>
  <input type="text" name="city" value="{{trip.city}}">
  <br>
  <label style="color: #ddecfc; font-size: 20px " for="">People:</label>
  <input type="text" name="people" value="{{trip.people}}">
  <br>
  <label style="color: #ddecfc; font-size: 20px " for="">Route:</label>
  <input type="text" name="route" value="{{trip.route}}">
  <br>
  <label style="color: #ddecfc; font-size: 20px " for="">Days:</label>
  <input type="number" name="days" value="{{trip.days}}">
  <br>
  <br>
  <button class="btn btn-info" type="submit">EDIT</button>
</form>